@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: hsl(26, 40%, 92%);
    font-family: 'Montserrat', sans-serif;
}

p, span {
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-auto-rows: .8fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.card-1 {
    background-image: url("images/image-product-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.5rem;
    gap: 1rem;
}

.product-category {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-size: .7rem;
}

.product-title {
    font-family: 'Fraunces', serif;
    font-size: 1.7rem;
}

.product-description {
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
}

.product-price {
    font-family: 'Fraunces', serif;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-price span:nth-child(1) {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

.product-price span:nth-child(2) {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
}

.btn {
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
        width: 40%;
        margin: 0 auto;
    }

    .card-1 {
        flex: 1;
        background-image: url("images/image-product-desktop.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .card-container {
        border-top-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        gap: 1.5rem;
    }
}